* {
    font-family: Helvetica, Arial;
}

div {
    margin: 0;
}

.home-link {
    text-align: left;
    padding-left: 32px;
}

.title-img-container {
    text-align: center;
    background-color: rgb(254, 92, 92);
    padding: 32px 0px;
}

.bottom-text-container {
    text-align: center;
    background-color: rgb(255, 255, 120);
    padding: 32px;
}

.bottom-text-container p {
    font-size: 20px;
    border: solid rgb(254, 92, 92) 4px;
    padding: 5px;
}

img {
    width: 400px;
    height: auto;
    border: solid 5px rgb(255, 255, 120);
}

.bottom-text-container ul, ol, h2 {
    text-align: left;
    width: 36%;
}